= semantic_form_for [@turmaanoletivo] do |form|

   

  = form.input :turma, :member_label => :sigla, :label => 'Turma' 

  = form.input :anoletivo, :member_label => :ano, :label => 'Ano Letivo/Periodo'

  = form.submit 'Salvar'

